* {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

h1 {
  font-size: 20px;
}

html,
body {
  font-size: 1rem;
  width: 100%;
  overflow-x: hidden;
}

.dark {
  background: #0c0e13;
  color: white;
}

.light {
  background: white;
}

::-webkit-scrollbar {
  display: auto;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

input,
select,
textarea {
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

img,
video,
svg,
canvas,
iframe {
  display: block;
}

.container {
  margin: 0 auto;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
}

@tailwind base;
@tailwind components;
@tailwind utilities;
